# Statement

S09 T01: Practice with training and test sets

Description
Get familiar with scientific programming using the SKLearn / Scikitlearn library.

Level 1 - Exercise 1
Split the data set DelayedFlights.csv into train and test. Study the two sets separately, at a descriptive level.

Level 2 - Exercise 2
Apply some transformation process (standardize numerical data, create dummy columns, polynomials...).

Level 3 - Exercise 3
Summarize the new columns generated in a statistical and graphical way.

# Dataset information: ✈
![](2022-02-28-17-46-54.png)

# Level 1 - Exercise 1.
Split the data set DelayedFlights.csv into train and test. Study the two sets separately, at a descriptive level.

In [3]:
# Import libraries
from IPython.display import display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
# Personal functions
import Pers_lib as Pers

In [5]:
# Test
# print("Number of unique values is: %.0f" %df['Origin'].unique().size)
# df['Origin'].unique().size
# print(df['Origin'].unique())

In [6]:
# Read csv to dataframe
df = pd.read_csv('..\Data\DelayedFlights.csv')

In [7]:
# settings to display all columns (default is 20, now is None (all))
pd.set_option("display.max_columns", None)

In [8]:
# Description of raw dataframe
Pers.df_info(df)

[-------------------------SHAPE------------------------]

(1936758, 30)

[-------------------------INFO-------------------------]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

None

[-----------------------DESCRIBE-----------------------]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1936758.00,1936758.0,1936758.00,1936758.00,1936758.00,1936758.00,1936758.00,1929648.00,1936758.00,1936758,1936758.00,1936753,1928371.00,1936560.00,1928371.00,1928371.00,1936758.00,1936758,1936758,1936758.00,1929648.00,1936303.00,1936758.00,1936758,1936758.00,1247488.00,1247488.00,1247488.00,1247488.00,1247488.00
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,5366,NaN,NaN,NaN,NaN,NaN,303,304,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,N325SW,NaN,NaN,NaN,NaN,NaN,ATL,ORD,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377602,NaN,965,NaN,NaN,NaN,NaN,NaN,131613,108984,NaN,NaN,NaN,NaN,1936125,NaN,NaN,NaN,NaN,NaN,NaN
mean,3341651.15,2008.0,6.11,15.75,3.98,1518.53,1467.47,1610.14,1634.22,NaN,2184.26,NaN,133.31,134.30,108.28,42.20,43.19,NaN,NaN,765.69,6.81,18.23,0.00,NaN,0.00,19.18,3.70,15.02,0.09,25.30
std,2066064.96,0.0,3.48,8.78,2.00,450.49,424.77,548.18,464.63,NaN,1944.70,NaN,72.06,71.34,68.64,56.78,53.40,NaN,NaN,574.48,5.27,14.34,0.02,NaN,0.06,43.55,21.49,33.83,2.02,42.05
min,0.00,2008.0,1.00,1.00,1.00,1.00,0.00,1.00,0.00,NaN,1.00,NaN,14.00,-25.00,0.00,-109.00,6.00,NaN,NaN,11.00,0.00,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00
25%,1517452.50,2008.0,3.00,8.00,2.00,1203.00,1135.00,1316.00,1325.00,NaN,610.00,NaN,80.00,82.00,58.00,9.00,12.00,NaN,NaN,338.00,4.00,10.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00
50%,3242558.00,2008.0,6.00,16.00,4.00,1545.00,1510.00,1715.00,1705.00,NaN,1543.00,NaN,116.00,116.00,90.00,24.00,24.00,NaN,NaN,606.00,6.00,14.00,0.00,NaN,0.00,2.00,0.00,2.00,0.00,8.00
75%,4972466.75,2008.0,9.00,23.00,6.00,1900.00,1815.00,2030.00,2014.00,NaN,3422.00,NaN,165.00,165.00,137.00,56.00,53.00,NaN,NaN,998.00,8.00,21.00,0.00,NaN,0.00,21.00,0.00,15.00,0.00,33.00
max,7009727.00,2008.0,12.00,31.00,7.00,2400.00,2359.00,2400.00,2400.00,NaN,9742.00,NaN,1114.00,660.00,1091.00,2461.00,2467.00,NaN,NaN,4962.00,240.00,422.00,1.00,NaN,1.00,2436.00,1352.00,1357.00,392.00,1316.00

[------------------------NaN's-------------------------]

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

[--------------Values in categorical variables---------]
------------------UniqueCarrier-------------------
------------Unique Values--------------
Number of unique values is: 20
['WN' 'XE' 'YV' 'OH' 'OO' 'UA' 'US' 'DL' 'EV' 'F9' 'FL' 'HA' 'MQ' 'NW'
 '9E' 'AA' 'AQ' 'AS' 'B6' 'CO']
------------Value Counts--------------

WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
DL    114238
XE    103663
CO    100195
US     98425
EV     81877
NW     79108
FL     71284
YV     67063
B6     55315
OH     52657
9E     51885
AS     39293
F9     28269
HA      7490
AQ       750
Name: UniqueCarrier, dtype: int64

------------------TailNum-------------------
------------Unique Values--------------
Number of unique values is: 5367
['N712SW' 'N772SW' 'N428WN' ... 'N75428' 'N75429' 'N78008']
------------Value Counts--------------

N325SW    965
N676SW    951
N658SW    945
N313SW    937
N308SA    936
         ...
9189E       1
N853NW      1
N856NW      1
N76010      1
N78008      1
Name: TailNum, Length: 5366, dtype: int64

------------------Origin-------------------
------------Unique Values--------------
Number of unique values is: 303
['IAD' 'IND' 'ISP' 'JAN' 'JAX' 'LAS' 'LAX' 'LBB' 'LIT' 'MAF' 'MCI' 'MCO'
 'MDW' 'MHT' 'MSY' 'OAK' 'OKC' 'OMA' 'ONT' 'ORF' 'PBI' 'PDX' 'PHL' 'PHX'
 'PIT' 'PVD' 'RDU' 'RNO' 'RSW' 'SAN' 'SAT' 'SDF' 'SEA' 'SFO' 'SJC' 'SLC'
 'SMF' 'SNA' 'STL' 'TPA' 'TUL' 'TUS' 'ABQ' 'ALB' 'AMA' 'AUS' 'BDL' 'BHM'
 'BNA' 'BOI' 'BUF' 'BUR' 'BWI' 'CLE' 'CMH' 'CRP' 'DAL' 'DEN' 'DTW' 'ELP'
 'FLL' 'GEG' 'HOU' 'HRL' 'ROC' 'ORD' 'EWR' 'SYR' 'IAH' 'CRW' 'FAT' 'COS'
 'MRY' 'LGB' 'BFL' 'EUG' 'ICT' 'MEM' 'BTV' 'MKE' 'LFT' 'BRO' 'PWM' 'MSP'
 'SRQ' 'CLT' 'CVG' 'GSO' 'SHV' 'DCA' 'TYS' 'GSP' 'RIC' 'DFW' 'BGR' 'DAY'
 'GRR' 'CHS' 'CAE' 'TLH' 'XNA' 'GPT' 'VPS' 'LGA' 'ATL' 'MSN' 'SAV' 'BTR'
 'LEX' 'LRD' 'MOB' 'MTJ' 'GRK' 'AEX' 'PNS' 'ABE' 'HSV' 'CHA' 'MFE' 'MLU'
 'DSM' 'MGM' 'AVL' 'LCH' 'BOS' 'MYR' 'CLL' 'DAB' 'ASE' 'ATW' 'BMI' 'CAK'
 'CID' 'CPR' 'EGE' 'FLG' 'FSD' 'FWA' 'GJT' 'GRB' 'HNL' 'KOA' 'LAN' 'LIH'
 'MBS' 'MDT' 'MFR' 'OGG' 'PSP' 'RAP' 'ROA' 'SBA' 'SBN' 'SPI' 'TEX' 'YUM'
 'AVP' 'CWA' 'DRO' 'ILM' 'ITO' 'JFK' 'TVC' 'HDN' 'SBP' 'CLD' 'HPN' 'MIA'
 'SGF' 'TRI' 'SUN' 'SGU' 'SLE' 'MSO' 'BZN' 'YKM' 'GTF' 'BIL' 'JAC' 'MOD'
 'FAR' 'GUC' 'AZO' 'PIA' 'MLI' 'LNK' 'FCA' 'IDA' 'BIS' 'PSC' 'COD' 'TWF'
 'RDM' 'HLN' 'RDD' 'PIH' 'EKO' 'LWS' 'SMX' 'ACV' 'OXR' 'CEC' 'CIC' 'PMD'
 'RFD' 'BTM' 'IYK' 'IPL' 'BLI' 'CDC' 'SJU' 'STT' 'ANC' 'STX' 'MLB' 'PHF'
 'PFN' 'FAY' 'AGS' 'GNV' 'ABY' 'DHN' 'EVV' 'FNT' 'OAJ' 'TOL' 'SWF' 'EWN'
 'MEI' 'GTR' 'LYH' 'HHH' 'EYW' 'VLD' 'CSG' 'ACY' 'FSM' 'MCN' 'CHO' 'FLO'
 'BQK' 'SCE' 'TUP' 'TYR' 'LAW' 'SPS' 'ABI' 'GGG' 'ACT' 'SJT' 'TXK' 'CMI'
 'ROW' 'RST' 'MQT' 'LSE' 'DBQ' 'GFK' 'MOT' 'DLH' 'SUX' 'PLN' 'BGM' 'ERI'
 'ALO' 'CMX' 'RHI' 'ELM' 'JNU' 'KTN' 'SIT' 'PSG' 'CDV' 'YAK' 'BRW' 'OME'
 'OTZ' 'BET' 'FAI' 'SCC' 'ADQ' 'WRG' 'ADK' 'PSE' 'BQN' 'BPT' 'RKS' 'GCC'
 'MKG' 'DLG' 'AKN' 'LWB' 'ACK' 'WYS' 'BJI' 'INL' 'GST' 'PUB' 'OTH' 'LMT'
 'ITH' 'HTS' 'PIR']
------------Value Counts--------------

ATL    131613
ORD    125979
DFW     95414
DEN     74323
LAX     58772
        ...
BJI         4
PIR         3
PUB         2
INL         1
TUP         1
Name: Origin, Length: 303, dtype: int64

------------------Dest-------------------
------------Unique Values--------------
Number of unique values is: 304
['TPA' 'BWI' 'JAX' 'LAS' 'MCO' 'MDW' 'PHX' 'FLL' 'PBI' 'RSW' 'HOU' 'BHM'
 'BNA' 'IND' 'PHL' 'ABQ' 'ALB' 'AMA' 'AUS' 'BDL' 'BOI' 'BUF' 'BUR' 'CLE'
 'CMH' 'DEN' 'ELP' 'GEG' 'IAD' 'ISP' 'LAX' 'LBB' 'LIT' 'MAF' 'MCI' 'MHT'
 'MSY' 'OAK' 'OKC' 'OMA' 'ONT' 'ORF' 'PDX' 'PIT' 'PVD' 'RDU' 'RNO' 'SAN'
 'SAT' 'SDF' 'SEA' 'SFO' 'SJC' 'SLC' 'SMF' 'SNA' 'STL' 'TUL' 'TUS' 'DAL'
 'DTW' 'JAN' 'HRL' 'CRP' 'EWR' 'IAH' 'ROC' 'MYR' 'GSO' 'SAV' 'RIC' 'COS'
 'FAT' 'MRY' 'LGB' 'BFL' 'EUG' 'ICT' 'CAE' 'DFW' 'DAY' 'MSP' 'GSP' 'MEM'
 'TYS' 'SHV' 'BTV' 'MFE' 'PWM' 'ATL' 'SYR' 'MKE' 'HSV' 'BTR' 'CHS' 'MSN'
 'LFT' 'LRD' 'SRQ' 'CLT' 'VPS' 'AVL' 'GPT' 'LGA' 'ABE' 'BGR' 'DCA' 'ORD'
 'GRR' 'MOB' 'PNS' 'CHA' 'MGM' 'CVG' 'GRK' 'PSP' 'TLH' 'LCH' 'BOS' 'BRO'
 'XNA' 'BPT' 'LEX' 'MTJ' 'AEX' 'MLU' 'DSM' 'CRW' 'CLL' 'ILM' 'JFK' 'ASE'
 'CPR' 'DRO' 'RAP' 'KOA' 'LIH' 'OGG' 'MDT' 'ROA' 'SPI' 'HNL' 'MFR' 'ATW'
 'BMI' 'CAK' 'CID' 'FSD' 'FWA' 'GRB' 'LAN' 'MBS' 'SBN' 'FLG' 'GJT' 'YUM'
 'EGE' 'ITO' 'AVP' 'CWA' 'TVC' 'SBP' 'SBA' 'COD' 'HDN' 'TEX' 'CLD' 'MLB'
 'SGF' 'MIA' 'HPN' 'TRI' 'SUN' 'SGU' 'TWF' 'IDA' 'MSO' 'BZN' 'YKM' 'SLE'
 'HLN' 'LWS' 'GTF' 'BIL' 'BTM' 'JAC' 'FCA' 'PSC' 'ACV' 'RDD' 'IPL' 'MOD'
 'PIA' 'LNK' 'GUC' 'AZO' 'FAR' 'MLI' 'PMD' 'BIS' 'PIH' 'EKO' 'RDM' 'BLI'
 'IYK' 'SMX' 'CEC' 'CIC' 'OXR' 'RFD' 'CDC' 'OGD' 'STT' 'SJU' 'ANC' 'STX'
 'DAB' 'PHF' 'MCN' 'VLD' 'CSG' 'SWF' 'BQK' 'MEI' 'FAY' 'EWN' 'SCE' 'DHN'
 'EYW' 'EVV' 'PFN' 'GNV' 'FNT' 'AGS' 'ABY' 'CHO' 'OAJ' 'FSM' 'FLO' 'HHH'
 'TOL' 'LYH' 'GTR' 'ACY' 'TUP' 'LAW' 'TYR' 'ABI' 'TXK' 'ACT' 'SPS' 'SJT'
 'GGG' 'CMI' 'ROW' 'MQT' 'RST' 'LSE' 'DBQ' 'DLH' 'GFK' 'MOT' 'RHI' 'SUX'
 'CMX' 'BGM' 'PLN' 'ERI' 'ALO' 'ELM' 'KTN' 'SIT' 'JNU' 'CDV' 'PSG' 'YAK'
 'WRG' 'FAI' 'OME' 'BRW' 'SCC' 'OTZ' 'BET' 'ADQ' 'ADK' 'PSE' 'BQN' 'GCC'
 'RKS' 'CYS' 'MKG' 'DLG' 'AKN' 'LWB' 'ACK' 'WYS' 'INL' 'BJI' 'GST' 'LMT'
 'OTH' 'ITH' 'HTS' 'PIR']
------------Value Counts--------------

ORD    108984
ATL    106898
DFW     70657
DEN     63003
LAX     59969
        ...
INL         9
PIR         3
CYS         1
TUP         1
OGD         1
Name: Dest, Length: 304, dtype: int64

------------------CancellationCode-------------------
------------Unique Values--------------
Number of unique values is: 4
['N' 'A' 'B' 'C']
------------Value Counts--------------

N    1936125
B        307
A        246
C         80
Name: CancellationCode, dtype: int64

## Data PreProcessing.

In [9]:
# Let's explore our data now.
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [10]:
# Delete columns that we find not relevant for our model.
try:
    # Let's clean first column that is repeated index.
    df = df.drop(columns ='Unnamed: 0')
    # Let's delete FlightNum and TailNum as these columns doesn't give us any useful information.
    df = df.drop(columns=['FlightNum','TailNum'])
    # Let's delete Origin and Dest as this info is already in Distance column.
    df = df.drop(columns=['Origin','Dest'])
    # Finally, let's drop the columns of Delays that are not ArrDelay, because ArrDelay is the sum of all others, and we don't think that 
    # the information of what kind of delay is, will be relevant.
    df = df.drop(columns=['CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'])
except:
    print("Columns already deleted")
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,810,4.0,8.0,0,N,0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,810,5.0,10.0,0,N,0
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,515,3.0,17.0,0,N,0
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,515,3.0,10.0,0,N,0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,688,4.0,10.0,0,N,0

In [11]:
# Delete duplicates
index_dupl_df = df.duplicated()
print("Num. duplicates =", index_dupl_df.sum())

Num. duplicates = 3

In [12]:
# As there are very few duplicates, we took them off.
df.drop_duplicates(inplace= True)

In [13]:
# Create column Date of the flight and delete the columns Year / Month / Day of Month. We keep DayOfWeek for potential correlations.
## Date of the flight
try:
    df['Date'] = pd.to_datetime(df.Year.astype(str)+'-'+ df.Month.astype(str)+'-'+ df.DayofMonth.astype(str))
    df = df.drop(columns=['Year','Month','DayofMonth'])
except:
    print("Date column already created and columns Year, Month & DayofMonth already deleted")
df.head()

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Date
0,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,810,4.0,8.0,0,N,0,2008-01-03
1,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,810,5.0,10.0,0,N,0,2008-01-03
2,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,515,3.0,17.0,0,N,0,2008-01-03
3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,515,3.0,10.0,0,N,0,2008-01-03
4,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,688,4.0,10.0,0,N,0,2008-01-03

#### NaN Processing.

In [14]:
# Visualize existing NaN's
list_cols = df.columns
display(df[list_cols].isnull().sum())

DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Distance                0
TaxiIn               7110
TaxiOut               455
Cancelled               0
CancellationCode        0
Diverted                0
Date                    0
dtype: int64

In [15]:
# Visualize % NaNs of every column.
NumTotalRegisters = df.shape[0]
for i in list_cols:
    print(f"% of NaNs in {i} are {(df[i].isnull().sum()/NumTotalRegisters)*100:.1f}%")

% of NaNs in DayOfWeek are 0.0%
% of NaNs in DepTime are 0.0%
% of NaNs in CRSDepTime are 0.0%
% of NaNs in ArrTime are 0.4%
% of NaNs in CRSArrTime are 0.0%
% of NaNs in UniqueCarrier are 0.0%
% of NaNs in ActualElapsedTime are 0.4%
% of NaNs in CRSElapsedTime are 0.0%
% of NaNs in AirTime are 0.4%
% of NaNs in ArrDelay are 0.4%
% of NaNs in DepDelay are 0.0%
% of NaNs in Distance are 0.0%
% of NaNs in TaxiIn are 0.4%
% of NaNs in TaxiOut are 0.0%
% of NaNs in Cancelled are 0.0%
% of NaNs in CancellationCode are 0.0%
% of NaNs in Diverted are 0.0%
% of NaNs in Date are 0.0%

#### Observation 1:  
As we see, % of NaNs is very little in all the columns (0.4% max).   
We are going to drop all NaNs in all columns.  
**Exception:** In Delays columns the percentage was big (35.6%), but these columns have been already dropped.

In [16]:
# Drop all NaNs
array_cols = list_cols.values
df = df.dropna(subset=array_cols)
print(f"Number of registers deleted are {NumTotalRegisters-df.shape[0]}")
print(f"% of registers with NaNs deleted are {((NumTotalRegisters-df.shape[0])/NumTotalRegisters)*100:.2f}%")

Number of registers deleted are 8387
% of registers with NaNs deleted are 0.43%

In [17]:
#Explore dataset now:
Pers.df_info(df)

[-------------------------SHAPE------------------------]

(1928368, 18)

[-------------------------INFO-------------------------]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928368 entries, 0 to 1936757
Data columns (total 18 columns):
 #   Column             Dtype
---  ------             -----
 0   DayOfWeek          int64
 1   DepTime            float64
 2   CRSDepTime         int64
 3   ArrTime            float64
 4   CRSArrTime         int64
 5   UniqueCarrier      object
 6   ActualElapsedTime  float64
 7   CRSElapsedTime     float64
 8   AirTime            float64
 9   ArrDelay           float64
 10  DepDelay           float64
 11  Distance           int64
 12  TaxiIn             float64
 13  TaxiOut            float64
 14  Cancelled          int64
 15  CancellationCode   object
 16  Diverted           int64
 17  Date               datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(6), object(2)
memory usage: 279.5+ MB

None

[-----------------------DESCRIBE-----------------------]

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Date
count,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.0,1928368,1928368.0,1928368
unique,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,376200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1928368,NaN,NaN
mean,3.98,1518.65,1467.72,1610.24,1634.20,NaN,133.31,134.20,108.28,42.20,43.09,764.95,6.81,18.22,0.0,NaN,0.0,2008-06-19 02:24:18.334094080
min,1.00,1.00,0.00,1.00,0.00,NaN,14.00,-21.00,0.00,-109.00,6.00,11.00,0.00,0.00,0.0,NaN,0.0,2008-01-01 00:00:00
25%,2.00,1203.00,1135.00,1316.00,1325.00,NaN,80.00,82.00,58.00,9.00,12.00,338.00,4.00,10.00,0.0,NaN,0.0,2008-03-18 00:00:00
50%,4.00,1545.00,1510.00,1715.00,1705.00,NaN,116.00,116.00,90.00,24.00,24.00,606.00,6.00,14.00,0.0,NaN,0.0,2008-06-14 00:00:00
75%,6.00,1900.00,1815.00,2030.00,2014.00,NaN,165.00,165.00,137.00,56.00,53.00,997.00,8.00,21.00,0.0,NaN,0.0,2008-09-09 00:00:00
max,7.00,2400.00,2359.00,2400.00,2359.00,NaN,1114.00,660.00,1091.00,2461.00,2467.00,4962.00,240.00,422.00,0.0,NaN,0.0,2008-12-31 00:00:00
std,2.00,450.44,424.73,548.00,464.63,NaN,72.06,71.23,68.64,56.78,53.27,573.89,5.27,14.31,0.0,NaN,0.0,NaN

[------------------------NaN's-------------------------]

DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
Date                 0
dtype: int64

[--------------Values in categorical variables---------]
------------------UniqueCarrier-------------------
------------Unique Values--------------
Number of unique values is: 20
['WN' 'XE' 'YV' 'OH' 'OO' 'UA' 'US' 'DL' 'EV' 'F9' 'FL' 'HA' 'MQ' 'NW'
 '9E' 'AA' 'AQ' 'AS' 'B6' 'CO']
------------Value Counts--------------

WN    376200
AA    190910
MQ    141223
UA    140904
OO    131780
DL    113728
XE    103147
CO     99731
US     98007
EV     81762
NW     78843
FL     70969
YV     66769
B6     54925
OH     52453
9E     51569
AS     39010
F9     28222
HA      7472
AQ       744
Name: UniqueCarrier, dtype: int64

------------------CancellationCode-------------------
------------Unique Values--------------
Number of unique values is: 1
['N']
------------Value Counts--------------

N    1928368
Name: CancellationCode, dtype: int64

#### Observation 2:

We observe now in the dataset the following:  
![](2022-03-02-17-16-43.png)![](2022-03-02-17-10-48.png)  
It says that in these three columns there are no information.
That means that when whe have deleted NaN's registers, we have deleted the information of cancelled or diverted flights.  
As they were so few, is ok to delete them. But also they could be useful for another exploration. 
In other dataset / practice we could only extract the cancelled / diverted flights to arrive to interesting conclusions.

In [18]:
# Delete these three columns of the dataset.
df = df.drop(columns=['Cancelled','CancellationCode','Diverted'])

In [20]:
# Finally, we describe the cleaned dataset:
display(df.shape)
df.describe(include='all',datetime_is_numeric=True).round(2)

(1928368, 15)

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Date
count,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368.00,1928368
unique,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,376200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.98,1518.65,1467.72,1610.24,1634.20,NaN,133.31,134.20,108.28,42.20,43.09,764.95,6.81,18.22,2008-06-19 02:24:18.334094080
min,1.00,1.00,0.00,1.00,0.00,NaN,14.00,-21.00,0.00,-109.00,6.00,11.00,0.00,0.00,2008-01-01 00:00:00
25%,2.00,1203.00,1135.00,1316.00,1325.00,NaN,80.00,82.00,58.00,9.00,12.00,338.00,4.00,10.00,2008-03-18 00:00:00
50%,4.00,1545.00,1510.00,1715.00,1705.00,NaN,116.00,116.00,90.00,24.00,24.00,606.00,6.00,14.00,2008-06-14 00:00:00
75%,6.00,1900.00,1815.00,2030.00,2014.00,NaN,165.00,165.00,137.00,56.00,53.00,997.00,8.00,21.00,2008-09-09 00:00:00
max,7.00,2400.00,2359.00,2400.00,2359.00,NaN,1114.00,660.00,1091.00,2461.00,2467.00,4962.00,240.00,422.00,2008-12-31 00:00:00
std,2.00,450.44,424.73,548.00,464.63,NaN,72.06,71.23,68.64,56.78,53.27,573.89,5.27,14.31,NaN

## Split the dataset into train and test.

In [21]:
# split into train test sets (33% for test)
df_train, df_test = train_test_split(df, test_size=0.33)

## Describe both sets

In [33]:
# Describe set train
display(df_train.describe(include='all',datetime_is_numeric=True).round(2))
print(f"Shape = {df_train.shape}")

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Date
count,1292006.00,1292006.00,1292006.00,1292006.00,1292006.00,1292006,1292006.00,1292006.00,1292006.00,1292006.00,1292006.00,1292006.00,1292006.00,1292006.00,1292006
unique,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,252300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.99,1518.88,1468.04,1610.70,1634.40,NaN,133.27,134.16,108.23,42.18,43.07,764.64,6.81,18.23,2008-06-19 03:42:21.916987904
min,1.00,1.00,0.00,1.00,0.00,NaN,14.00,1.00,0.00,-68.00,6.00,11.00,0.00,0.00,2008-01-01 00:00:00
25%,2.00,1203.00,1135.00,1316.00,1325.00,NaN,80.00,81.00,58.00,9.00,12.00,338.00,4.00,10.00,2008-03-18 00:00:00
50%,4.00,1546.00,1510.00,1716.00,1706.00,NaN,116.00,116.00,90.00,24.00,24.00,606.00,6.00,14.00,2008-06-14 00:00:00
75%,6.00,1900.00,1815.00,2031.00,2014.00,NaN,165.00,165.00,137.00,56.00,53.00,997.00,8.00,21.00,2008-09-09 00:00:00
max,7.00,2400.00,2359.00,2400.00,2359.00,NaN,790.00,660.00,733.00,2453.00,2467.00,4962.00,225.00,393.00,2008-12-31 00:00:00
std,2.00,450.48,424.69,547.78,464.59,NaN,72.08,71.25,68.64,56.66,53.11,573.96,5.28,14.36,NaN

Shape = (1292006, 15)

In [34]:
# Describe set test 
display(df_test.describe(include='all',datetime_is_numeric=True).round(2))
print(f"Shape = {df_test.shape}")

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Date
count,636362.00,636362.00,636362.00,636362.00,636362.00,636362,636362.00,636362.00,636362.00,636362.00,636362.00,636362.00,636362.00,636362.00,636362
unique,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,123900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.98,1518.17,1467.05,1609.32,1633.77,NaN,133.37,134.27,108.37,42.24,43.14,765.59,6.81,18.19,2008-06-18 23:45:49.254041088
min,1.00,1.00,1.00,1.00,0.00,NaN,15.00,-21.00,0.00,-109.00,6.00,11.00,0.00,0.00,2008-01-01 00:00:00
25%,2.00,1203.00,1135.00,1315.00,1325.00,NaN,80.00,82.00,58.00,9.00,12.00,340.00,4.00,10.00,2008-03-18 00:00:00
50%,4.00,1545.00,1510.00,1715.00,1705.00,NaN,116.00,116.00,90.00,24.00,24.00,606.00,6.00,14.00,2008-06-13 00:00:00
75%,6.00,1900.00,1815.00,2030.00,2014.00,NaN,165.00,165.00,137.00,56.00,53.00,998.00,8.00,21.00,2008-09-09 00:00:00
max,7.00,2400.00,2359.00,2400.00,2359.00,NaN,1114.00,660.00,1091.00,2461.00,2457.00,4962.00,240.00,422.00,2008-12-31 00:00:00
std,2.00,450.35,424.81,548.44,464.71,NaN,72.03,71.19,68.65,57.04,53.57,573.73,5.25,14.20,NaN

Shape = (636362, 15)

# Level 2 - Exercise 2.
### Apply some transformation process (standardize numerical data, create dummy columns, polynomials...).


#### Let's standardize the numerical columns:   
**Exception:** We don't standardize the day of week.

In [35]:
# Let's standardize the numerical columns:
list_num_cols = df_train._get_numeric_data().columns
print(list_num_cols)

Index(['DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut'],
      dtype='object')

In [36]:
# #list for cols to scale (all except for day of week).
cols_to_scale = ['DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance',
       'TaxiIn', 'TaxiOut']
#create and fit scaler
scaler = StandardScaler()
scaler.fit(df_train[cols_to_scale])
#scale selected data
df_train[cols_to_scale] = scaler.transform(df_train[cols_to_scale])

df_train.head()

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Date
500124,3,1.349945,1.488050,1.267478,1.303517,MQ,-0.489412,-0.479450,-0.440457,-0.303222,-0.302529,-0.281613,-0.343379,-0.224915,2008-03-19
1329853,2,0.204492,-0.030717,0.445985,0.240207,UA,-0.406166,-0.325072,-0.382180,0.473329,0.620014,-0.265932,-0.532846,-0.016021,2008-08-19
432742,3,1.545294,1.499824,1.294861,1.243248,OH,-0.114806,-0.100521,-0.061661,0.455680,0.507050,-0.206695,-0.343379,-0.155284,2008-03-19
1346149,6,0.628487,0.640366,0.444159,0.442537,WN,-1.127630,-1.040827,-1.110634,-0.497360,-0.396666,-1.022079,-0.343379,-0.224915,2008-08-02
1304325,4,-1.040856,-1.003198,-0.494168,-0.625078,YV,-0.322921,-0.170693,-0.294766,-0.815040,-0.660249,-0.220633,-0.153911,-0.155284,2008-08-07

#### Let's create dummy columns of the only categorical column that we have: **Unique Carrier** attribute.  
First, let's explore this column quantitative speaking.

In [37]:
print("[--------------Values in Unique Carrier attribute---------]")
print("------------Unique Values--------------")
print("Number of unique values is: %.0f" %df['UniqueCarrier'].unique().size)
print(df['UniqueCarrier'].unique())
print("------------Value Counts--------------")
display(df['UniqueCarrier'].value_counts())

[--------------Values in Unique Carrier attribute---------]
------------Unique Values--------------
Number of unique values is: 20
['WN' 'XE' 'YV' 'OH' 'OO' 'UA' 'US' 'DL' 'EV' 'F9' 'FL' 'HA' 'MQ' 'NW'
 '9E' 'AA' 'AQ' 'AS' 'B6' 'CO']
------------Value Counts--------------

WN    376200
AA    190910
MQ    141223
UA    140904
OO    131780
DL    113728
XE    103147
CO     99731
US     98007
EV     81762
NW     78843
FL     70969
YV     66769
B6     54925
OH     52453
9E     51569
AS     39010
F9     28222
HA      7472
AQ       744
Name: UniqueCarrier, dtype: int64

 ## --- Comentar con Ricard ---
Observation 3:  
As we see, there are too many unique values to do OHE, we  have to choose the first 5/10 more important and then use a last one with all the others.
Our criteria is going to be Airlines with more than 100.000 flights, for the others we will sum them as "others".
 ## --- Comentar con Ricard ---

we would have to choose the first 5/10 more important and then use a last one with all the others.

In [ ]:
# Let's create dummy columns of Cancellation Code attribute
df_train_norm = pd.get_dummies(df_train,columns=['CancellationCode'])
df_train_norm

# Level 3 - Exercise 3

#### Summarize the new columns generated in a statistical and graphical way.

In [ ]:
round(df_train_norm.describe(),3)

As we can see, all numerical columns have mean of 0 and std variance of 1 (after standardization).  
**Exception** are the dummies columns, of course, they are numerical but they must remain as bool columns.

In [ ]:
# Show our numerical columns
display(cols_to_scale)
display(len(cols_to_scale))

In [ ]:
#Let's plot a boxplot for all numerical columns not bool or date related
fig, axes = plt.subplots(round(len(cols_to_scale)/3), 3,figsize=(20,25))
for i,x_par in enumerate(cols_to_scale):
    x, y = divmod(i, 3)
    sns.boxplot(x=x_par,data=df_train_norm, ax=axes[x,y])

As we observed on describe, all these columns have the mean = 0 and std dev = 1 after standardization.  
The difference between them are the quantity of outlayers.