# Statement

S09 T01: Practice with training and test sets

Description
Get familiar with scientific programming using the SKLearn / Scikitlearn library.

Level 1 - Exercise 1
Split the data set DelayedFlights.csv into train and test. Study the two sets separately, at a descriptive level.

Level 2 - Exercise 2
Apply some transformation process (standardize numerical data, create dummy columns, polynomials...).

Level 3 - Exercise 3
Summarize the new columns generated in a statistical and graphical way.

# Dataset information: âœˆ
![](2022-02-28-17-46-54.png)

# Level 1 - Exercise 1.
Split the data set DelayedFlights.csv into train and test. Study the two sets separately, at a descriptive level.

In [1]:
# Import libraries
from IPython.display import display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Personal functions
import Pers_lib as Pers

In [3]:
# Test
# print("Number of unique values is: %.0f" %df['Origin'].unique().size)
# df['Origin'].unique().size
# print(df['Origin'].unique())

In [4]:
# Read csv to dataframe
df = pd.read_csv('..\Data\DelayedFlights.csv')

In [5]:
# Display all columns of dataset
display(pd.get_option("display.max_columns"))
# settings to display all columns
pd.set_option("display.max_columns", None)
# display the dataframe head
display(pd.get_option("display.max_columns"))

20

None

## Extra - Data PreProcessing.

In [6]:
# Let's explore our data now.
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [7]:
# Delete columns that we find not relevant for our model.
try:
    # Let's clean first column that is repeated index.
    df = df.drop(columns = 'Unnamed: 0',axis=1)
    # Let's delete FlightNum and TailNum as these columns doesn't give us any useful information.
    df = df.drop(columns=['FlightNum','TailNum'])
    # Let's delete Origin and Dest as this info is already in Distance column.
    df = df.drop(columns=['Origin','Dest'])
    # Finally, let's drop the columns of Delays that are not ArrDelay, because ArrDelay is the sum of all others, and we don't think that 
    # the information of what kind of delay is, will be relevant.
    df = df.drop(columns=['CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'])
except:
    print("Columns already deleted")
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,810,4.0,8.0,0,N,0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,810,5.0,10.0,0,N,0
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,515,3.0,17.0,0,N,0
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,515,3.0,10.0,0,N,0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,688,4.0,10.0,0,N,0

In [8]:
# Delete duplicates
index_dupl_df = df.duplicated()
print("Num. duplicates =", index_dupl_df.sum())

Num. duplicates = 3

In [9]:
# As there are only 2 duplicate, we took them off.
df.drop_duplicates(inplace= True)

In [10]:
# Create column Date of the flight and delete the columns Year / Month / Day of Month. We keep DayOfWeek for potential correlations.
## Date of the flight
try:
    df['Date'] = pd.to_datetime(df.Year.astype(str)+'-'+ df.Month.astype(str)+'-'+ df.DayofMonth.astype(str))
    df = df.drop(columns=['Year','Month','DayofMonth'])
except:
    print("Date column already created and columns Year, Month & DayofMonth already deleted")
df.head()

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Date
0,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,810,4.0,8.0,0,N,0,2008-01-03
1,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,810,5.0,10.0,0,N,0,2008-01-03
2,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,515,3.0,17.0,0,N,0,2008-01-03
3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,515,3.0,10.0,0,N,0,2008-01-03
4,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,688,4.0,10.0,0,N,0,2008-01-03

NaN Processing.

In [11]:
# Visualize existing NaN's
list_cols = df.columns
display(df[list_cols].isnull().sum())

DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Distance                0
TaxiIn               7110
TaxiOut               455
Cancelled               0
CancellationCode        0
Diverted                0
Date                    0
dtype: int64

In [12]:
# Visualize % NaNs of every column.
NumTotalRegisters = df.shape[0]
for i in list_cols:
    print(f"% of NaNs in {i} are {(df[i].isnull().sum()/NumTotalRegisters)*100:.1f}%")

% of NaNs in DayOfWeek are 0.0%
% of NaNs in DepTime are 0.0%
% of NaNs in CRSDepTime are 0.0%
% of NaNs in ArrTime are 0.4%
% of NaNs in CRSArrTime are 0.0%
% of NaNs in UniqueCarrier are 0.0%
% of NaNs in ActualElapsedTime are 0.4%
% of NaNs in CRSElapsedTime are 0.0%
% of NaNs in AirTime are 0.4%
% of NaNs in ArrDelay are 0.4%
% of NaNs in DepDelay are 0.0%
% of NaNs in Distance are 0.0%
% of NaNs in TaxiIn are 0.4%
% of NaNs in TaxiOut are 0.0%
% of NaNs in Cancelled are 0.0%
% of NaNs in CancellationCode are 0.0%
% of NaNs in Diverted are 0.0%
% of NaNs in Date are 0.0%

#### Observation  
As we see, % of NaNs is very little in all the columns (0.4% max).   
We are going to drop all NaNs in all columns.  
**Exception:** In Delays columns the percentage was big (35.6%), but these columns have been already dropped.

In [13]:
# Drop all NaNs
array_cols = list_cols.values
df = df.dropna(subset=array_cols)
print(f"Number of registers deleted are {NumTotalRegisters-df.shape[0]}")
print(f"% of registers with NaNs deleted are {((NumTotalRegisters-df.shape[0])/NumTotalRegisters)*100:.2f}%")

Number of registers deleted are 8387
% of registers with NaNs deleted are 0.43%

## Split the dataset into train and test.

In [14]:
# split into train test sets (33% for test)
df_train, df_test = train_test_split(df, test_size=0.33)

## Describe both sets

In [15]:
# Describe set train (using my personal functions)
Pers.df_info(df_train)

[-------------------------SHAPE------------------------]

(1292006, 18)

[-------------------------INFO-------------------------]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1292006 entries, 18129 to 849395
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   DayOfWeek          1292006 non-null  int64
 1   DepTime            1292006 non-null  float64
 2   CRSDepTime         1292006 non-null  int64
 3   ArrTime            1292006 non-null  float64
 4   CRSArrTime         1292006 non-null  int64
 5   UniqueCarrier      1292006 non-null  object
 6   ActualElapsedTime  1292006 non-null  float64
 7   CRSElapsedTime     1292006 non-null  float64
 8   AirTime            1292006 non-null  float64
 9   ArrDelay           1292006 non-null  float64
 10  DepDelay           1292006 non-null  float64
 11  Distance           1292006 non-null  int64
 12  TaxiIn             1292006 non-null  float64
 13  TaxiOut            1292006 non-null  float64
 14  Cancelled          1292006 non-null  int64
 15  CancellationCode   1292006 non-null  object
 16  Diverted           1292006 non-null  int64
 17  Date               1292006 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(6), object(2)
memory usage: 187.3+ MB

None

[-----------------------DESCRIBE-----------------------]

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Date
count,1292006.00,1292006.00,1292006.00,1292006.00,1292006.00,1292006,1292006.00,1292006.00,1292006.00,1292006.00,1292006.0,1292006.00,1292006.00,1292006.00,1292006.0,1292006,1292006.0,1292006
unique,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,251662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1292006,NaN,NaN
mean,3.98,1518.60,1467.72,1610.60,1634.14,NaN,133.30,134.20,108.28,42.20,43.1,764.92,6.81,18.21,0.0,NaN,0.0,2008-06-19 00:50:31.408832512
min,1.00,1.00,0.00,1.00,0.00,NaN,14.00,-21.00,0.00,-70.00,6.0,11.00,0.00,0.00,0.0,NaN,0.0,2008-01-01 00:00:00
25%,2.00,1203.00,1135.00,1316.00,1325.00,NaN,80.00,82.00,58.00,9.00,12.0,338.00,4.00,10.00,0.0,NaN,0.0,2008-03-18 00:00:00
50%,4.00,1545.00,1510.00,1715.00,1705.00,NaN,116.00,116.00,90.00,24.00,24.0,606.00,6.00,14.00,0.0,NaN,0.0,2008-06-13 00:00:00
75%,6.00,1900.00,1815.00,2030.00,2014.00,NaN,165.00,165.00,137.00,56.00,53.0,997.00,8.00,21.00,0.0,NaN,0.0,2008-09-09 00:00:00
max,7.00,2400.00,2359.00,2400.00,2359.00,NaN,776.00,660.00,733.00,2461.00,2467.0,4962.00,240.00,422.00,0.0,NaN,0.0,2008-12-31 00:00:00
std,2.00,450.37,424.65,547.62,464.51,NaN,72.08,71.27,68.67,56.79,53.3,573.97,5.27,14.24,0.0,NaN,0.0,NaN

[------------------------NaN's-------------------------]

DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
Date                 0
dtype: int64

[--------------Values in categorical variables---------]
------------------UniqueCarrier-------------------
------------Unique Values--------------
Number of unique values is: 20
['WN' 'DL' 'UA' 'AA' 'B6' 'FL' 'MQ' 'CO' 'EV' 'OO' 'XE' 'US' '9E' 'NW'
 'YV' 'F9' 'HA' 'OH' 'AS' 'AQ']
------------Value Counts--------------

WN    251662
AA    127868
MQ     94691
UA     94607
OO     88378
DL     76143
XE     69189
CO     66733
US     65868
EV     54819
NW     52988
FL     47640
YV     44590
B6     36746
OH     35025
9E     34432
AS     26135
F9     19017
HA      4965
AQ       510
Name: UniqueCarrier, dtype: int64

------------------CancellationCode-------------------
------------Unique Values--------------
Number of unique values is: 1
['N']
------------Value Counts--------------

N    1292006
Name: CancellationCode, dtype: int64

# **QuÃ© ha pasado con el cancellation code???  XPPP **

In [ ]:
# Describe set test (using my personal functions)
Pers.df_info(df_test)

# Level 2 - Exercise 2.
### Apply some transformation process (standardize numerical data, create dummy columns, polynomials...).


#### Let's standardize the numerical columns:   
**Exception:** We don't standardize the day of week.

In [ ]:
# Let's standardize the numerical columns:
list_num_cols = df_train._get_numeric_data().columns
print(list_num_cols)

In [ ]:
# #list for cols to scale (all except for day of week).
cols_to_scale = ['DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance',
       'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted']
#create and fit scaler
scaler = StandardScaler()
scaler.fit(df_train[cols_to_scale])
#scale selected data
df_train[cols_to_scale] = scaler.transform(df_train[cols_to_scale])

df_train.head()

#### Let's create dummy columns of Cancellation Code attribute.  
(it has only 4 unique values, for the others, we would have to choose the first 5/10 more important and then use a last one with all the others.

In [ ]:
# Let's create dummy columns of Cancellation Code attribute
df_train_norm = pd.get_dummies(df_train,columns=['CancellationCode'])
df_train_norm

# Level 3 - Exercise 3

#### Summarize the new columns generated in a statistical and graphical way.

In [ ]:
round(df_train_norm.describe(),3)

As we can see, all numerical columns have mean of 0 and std variance of 1 (after standardization).  
**Exception** are the dummies columns, of course, they are numerical but they must remain as bool columns.

In [ ]:
# Show our numerical columns
display(cols_to_scale)
display(len(cols_to_scale))

In [ ]:
#Let's plot a boxplot for all numerical columns not bool or date related
fig, axes = plt.subplots(round(len(cols_to_scale)/3), 3,figsize=(20,25))
for i,x_par in enumerate(cols_to_scale):
    x, y = divmod(i, 3)
    sns.boxplot(x=x_par,data=df_train_norm, ax=axes[x,y])

As we observed on describe, all these columns have the mean = 0 and std dev = 1 after standardization.  
The difference between them are the quantity of outlayers.